body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --amazon-primary-color: #e47911;
  --amazon-secondary-dark-color: #232f3e;
  --amazon-secondary-color: #37475a;
  --amazon-blue-light-color: #48a3c6;
  --amazon-blue-strong-color: #007eb9;
  --amazon-light-color: #fff;
  --amazon-light-medium-color: #cccccc;
  --amazon-dark-color: #111111;
  --amazon-light-dark-color: #757575;
  --amazon-heart-color: #ec0000;
  --amazon-heart-dark-color: #450505;
  --common-max-width: 480px;
}

label {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  padding: 0;
  margin:  0;
}

@media screen and (max-width: 480px) { 
  h2 {
    margin: 0;
    padding: 0;
  }
}